<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>~~게시글</title>
</head>
<body>

<!-- 수정 -->
<input type="submit" value="수정">

<!-- 삭제 -->
<input type="submit" value="삭제">

<!-- 게시글 본인 확인 비밀번호 -->

<!-------------------------------->

<!-- 댓글 목록 -->
<form>
  <!-- 댓글 추가 -->
  <div>
    <label>
      <input type="text">
    </label>
    <input type="submit" value="댓글 작성">
  </div>
  <!-- 댓글 삭제 -->
  <div>
    <input type="submit" value="댓글 삭제">
  </div>
  <!-- 댓글 본인 확인 비밀번호 -->

</form>
</body>
</html>